<div class ="about">
	<div class="jumbotron" id="about">
		<h1>About Us</h1>
	</div>
	<div class="container">
		<div class="row" id="first-about-image">
			<div class="col-md-4 col-xs-12">
				<img class="img-responsive" src="/images/sofa.jpg">
			</div>
			<div class="col-md-8 col-xs-12">
			</div>
		</div>
			<div class="row">
			<div class="col-md-8 col-xs-12">
			</div>
			<div class="col-md-4 col-xs-12">
				<img class="img-responsive" src="/images/adentro-new.jpg">
			</div>
		</div>
			<div class="row">
			<div class="col-md-4 col-xs-12">
				<img class="img-responsive" src="/images/SAM_2021.jpg">
			</div>
			<div class="col-md-8 col-xs-12">
			</div>
		</div>

	</div>
</div>