<div class ="about">
	<div class="jumbotron" id="about">
		<h1>About Us</h1>
	</div>
	<div class="container">
		<div class="row" id="first-about-image">
			<div class="col-md-4 col-xs-12">
				<img class="img-responsive" src="/images/sofa.jpg">
			</div>
			<div class="col-md-8 col-xs-12">
				<h1>Our Menu</h1>
				<h3>Welcome to our little lovely cave made with love... thank you for visiting our sunset terrace! Please enjoy our delicious menu focused on real nurturing food, healthy and good for you! We love to make everything from scratch, using only great quality products, with the best impact in your health! Come nurture yourself with some fresh delicious drinks, with the option to add super-foods in it!  Or cool off from the heat and choose from our range of ice-cream Sundae's. </h3>
			</div>
		</div>
			<div class="row">
			<div class="col-md-8 col-xs-12">
				<h1>Our Vibe</h1>
				<h3>If you love art and color, then San Telmo is perfect for you.  Our restaurant is FULL of art from artists all over the world.  We love to use recycled materials! We are passionate about healing trough our food, our music and the energy that comes into our place. </h3>
			</div>
			<div class="col-md-4 col-xs-12">
				<img class="img-responsive" src="/images/adentro-new.jpg">
			</div>
		</div>
			<div class="row">
			<div class="col-md-4 col-xs-12">
				<img class="img-responsive" src="/images/sunset-new.jpg">
			</div>
			<div class="col-md-8 col-xs-12">
				<h1>Our Sunsets</h1>
				<h3>There is a different and beautiful sunset every evening over Lake Peten Itza and the jungle that you can perfectly appreciate from our rooftop bar. Just sit back, relax and enjoy the moment from the coolest sunset spot in the prettiest island in Guatemala</h3>
			</div>
		</div>

	</div>
</div>