<!--jumbotron-->
		<div class="jumbotron" id="home">
		</div>

<!--supporting-->
		<div class="supporting" id="supporting-home">
			<h1>Food Like Home!</h1>
			<p> Try all our plates before you leave.</p>
			<a class="btn btn-default" href="/menu" role="button">View Our Menu</a>
		</div>
		<!--feature-->
		<div class="feature-1">
			<div class="container">
			<h1>Bookings.</h1>
			<p>Make a table reservation. </p>
			<a class="btn btn-default" id="book-now" href="/contacts">Book Now</a>
		</div>
		</div>
		<div class="feature-2">
			<div class="container">
			<h1>Healthy Food.</h1>
			<p> A healthy outside starts from the inside! </p>
			<a class="btn btn-default" id="hotel-btn" href="/menu" role="button">View Our Menu</a>
		</div>
		</div>
		<div class="feature-3">
			<div class="container">
			<h1>Food With a View.</h1>
			<p>Enjoy the best view in Isla de Flores.</p>
			<a class="btn btn-default" id="hotel-btn" href="/gallery" role="button">View Our Gallery</a>
		</div>
		</div>