<!--jumbotron-->
		<div class="jumbotron" id="home">
		</div>

<!--supporting-->
		<div class="supporting" id="supporting-home">
			<div class="container">
				<h1>Food Like Home!</h1>
				<p> Try all our plates before you leave.</p>
				<img id="mandala" class="img-responsive" width="200px" src="/images/mandala-home.png">
			</div>
		</div>
		<!--feature-->
		<div class="feature-1">
			<div class="container">
			<h1>Healthy Food.</h1>
			<p> A healthy outside starts from the inside! </p>
			<a class="btn btn-default" id="hotel-btn" href="/menu" role="button">View Our Menu</a>
		</div>
		</div>
		<div class="feature-2">
			<div class="container">
			<h1>Rooftop Terrace</h1>
			<p>Lakefront restaurant, bar, hotel and more! </p>
			<a class="btn btn-default" id="book-now" href="/about">About Us</a>
		</div>
		</div>
		<div class="feature-3">
			<div class="container">
			<h1>Sunset Spot!</h1>
			<p>Enjoy the best view in Isla de Flores!</p>
			<a class="btn btn-default" id="hotel-btn" href="/gallery" role="button">View Gallery</a>
		</div>
		</div>
		<div class="feature-4">
			<div class="container">
			<h1>Private Rooms.</h1>
			<p>Chill out in our a/c rooms in front of the lake.</p>
			<a class="btn btn-default" id="hotel-btn" href="/rooms" role="button">View Our Rooms</a>
		</div>
		</div>