<div class="rest-menu">
<!--jumbotron-->
		<div class="jumbotron" id="rest-menu">
				<div class="container">
					<h1>Menu</h1>
				</div>
			</div>
      <div class="food-menu" id="entradas">
        <div class="container">
            <div class="break">
            </div>
          <div class="desayunos">
          <h1>Breakfast</h1>
          <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Tell Aviv Shakshuka!</h3>
            <p>Stunning Israeli Special: Poached eggs in a home-made tomato sauce accompanied by hummus and homemade pita bread.</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q37.00</h4>
        </div>
      </div>
      <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>The Notorious P.I.G.</h3>
            <p>Outstanding fried eggs with a double whammy of that hammy bacon and sausage! Along with lentils, grilled tomato and mushrooms on toasted bread.</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q47.00</h4>
        </div>
      </div>
         <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Diosa Itza Sweet Crepe</h3>
            <p>Big daddy crepe stuffed to the brim with fresh fruit and smothered with yoghurt and granola.</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q37.00</h4>
        </div>
      </div>
         <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>The Eggcited Omelette</h3>
            <p>A temptatious omelette with mushrooms, spinach, spring onions, mozzaterlla cheese and traditional mexican sauce with a side of black beans and fruits.</p>
            <p>Avocado Q5 extra</p>
            <p>Bacon Q10 extra</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q37.00</h4>
        </div>
      </div>
      <!-- images -->
      <div class="row">
        <div class="col-md-4 col-xs-12">
      <img class="img-responsive" width="250px" src="/menu/desayuno-1.png">
        </div>
        <div class="col-md-4 col-xs-12">
      <img class="img-responsive" src="/menu/desayuno-2.png">
        </div>
        <div class="col-md-4 col-xs-12">
      <img class="img-responsive" src="/menu/desayuno-3.png">
        </div>
    </div>
    </div>
           <h1>Appetizers</h1>
        <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Khali Pakhoras</h3>
            <p>Tantalizing vegetarian fried pakhoras made out of zucchini, spring onions, parsley, indian spices and cheddar and mozzarella cheese.</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q45.00</h4>
        </div>
      </div>
      <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Big Bang Nachos</h3>
            <p>Explosive nachos that will blow you away! Piled with refried beans, guacamole, cheese, cream, lettuce and pico de gallo</p>
            <p>A) Veggie Q42 B)Chicken Q50</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q42.00</h4>
        </div>
      </div>
      <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Mamita's BBQ Chicken Wings</h3>
            <p>A pound of flabbergasting chicken wings marinated in a tasty BBQ sauce sided with our delightful honey mustard sauce and creamy garlic sauce.</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q55.00</h4>
        </div>
      </div>
      <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>The Drooling Texan Fries</h3>
            <p>A bombastic bowl of fried potatoes topped with cheddar and mozzarella cheese, spring onions, jalapeno peppers and tomatoes.</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q45.00</h4>
        </div>
      </div>
        <!-- images -->
      <div class="row">
        <div class="col-md-4 col-xs-12">
      <img class="img-responsive" src="/menu/entradas-3.png">
        </div>
        <div class="col-md-4 col-xs-12">
      <img class="img-responsive" src="/menu/entradas-1.png">
        </div>
    </div>
      <h1>Salads</h1>
      <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Primavera</h3>
            <p>Refreshing salad with lettuce, spinach, red onion, tomato, avocado and corn with an exotic coriander and spring-onion based dressing accompanied by:</p>
            <p>A) Mushrooms marianted in bbq and chipotle Q55</p>
            <p>B)Chicken breast marinated in BBQ and chipotle Q60</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q55.00</h4>
        </div>
      </div>
      <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Garden of Eat'n</h3>
            <p>Exquisite salad with spinach, lettuce, carrot, zucchini, apple, broccoli, mushroom and spring onion served with our fresh garlic tzatziki sauce</p>
            <p>Veggie Q55</p>
            <p>Chicken Q60</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q55.00</h4>
        </div>
      </div>
      <!-- images -->
      <div class="row">
             <div class="col-md-4 col-xs-12">
      <img class="img-responsive" width="250px" src="/menu/garden-salad.png">
        </div>
          <div class="col-md-4 col-xs-12">
      <img class="img-responsive" width="250px" src="/menu/ensalda-1.png">
        </div>
      </div>
      <h1>Pizzas</h1>
      <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Portobello - Belly Pizza</h3>
            <p>Fungtastic fresh made Pizza with Portobello mushroom, garlic, parsley, onion, tomato and spinach with a savory mix of cheddar and mozzarella cheeses.</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Small: Q48.00 Large: Q83.00</h4>
        </div>
      </div>
      <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Señor Sanchez Tex Mex Style</h3>
            <p>Amazing pizza with BBQ chicken, chipotle sauce, avocado, parsley and spring onions with cheddar and mozzarella cheese.</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Small: Q50.00 Large: Q83.00</h4>
        </div>
      </div>
      <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Honolulu Hawaiian Pizza</h3>
            <p>You can't got wrong with this baby! Covered with pineapple, tomato sauce, garlic, parsley and delicious BACON! Topped with cheddar and mozzarella cheese.</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Small: Q45.00 Large: Q70.00</h4>
        </div>
      </div>
      <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Hindu</h3>
            <p>Pizza with hindu curry sauce and chicken with garam masala, mozzarella cheese, coriander pesto, chives, chilli pepper, purple onion.</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Small: Q60.00 Large: Q85.00</h4>
        </div>
      </div>
        <!-- images -->
      <div class="row">
           <div class="col-md-4 col-xs-12">
      <img class="img-responsive" src="/menu/porto-bello-2.png">
        </div>
        <div class="col-md-4 col-xs-12">
      <img class="img-responsive" src="/menu/honolulu-hawaiian-pizza.png">
        </div>
    </div>
    <h1>Paninis</h1>
    <p>Add crispy fries for Q12.00 extra</p>
      <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Vegetarianisimo de Corazon</h3>
            <p>Pure hearted Panini with chards, spinach, onion, tofu, avocado and hummus served with a heart fluttering chipotle sauce.</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q40.00</h4>
        </div>
      </div>
         <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Chicken O'Clock Teriyaki</h3>
            <p>Deli Panini with chicken fajitas grilled in our delicious Teriyaki sauce on a bed of spinach covered with gratinated cheese mixed with zucchini and carrot</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q45.00</h4>
        </div>
      </div>
       <!-- images -->
      <div class="row">
        <div class="col-md-4 col-xs-12">
      <img class="img-responsive" src="/menu/panini-chicken.png">
        </div>
    </div>
    <h1>Hamburguers</h1>
    <p>All burgers come with fries on the side</p>
     <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Dharma Burger</h3>
            <p>Our epic house burger served on a homemade bun with bacon, egg, tomato, lettuce, onion, cheddar and mozzarella cheese. Topped with a delicious honey mustard sauce and a aside of rich garlic sauce.</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q60.00</h4>
        </div>
      </div>
       <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Diosa Ganesha</h3>
            <p>Impressive chicken burger with mozzarella cheese, tomato, onion, bell pepper and grilled jalapeño peppers on our home made bum topped with the legendary Itza basil dressing.</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q55.00</h4>
        </div>
      </div>
        <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>The Happy Cow Veggie Burger</h3>
            <p>Awesome spiced chickpea and lentil burger with avocado, spinach, tomato and red onion covered with mozzarella and server with our finger-licking creamy garlic sauce.</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q44.00</h4>
        </div>
      </div>
       <!-- images -->
      <div class="row">
        <div class="col-md-4 col-xs-12">
      <img class="img-responsive" src="/menu/burger.png">
        </div>
        <div class="col-md-4 col-xs-12">
      <img class="img-responsive" src="/menu/dharma-burger.png">
        </div>
    </div>
    <h1>So many PASTAbilities!</h1>
     <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Classic Carbonara</h3>
            <p>Heavenly tasting pasta with cream, bacon, garlic, parsley -all covered in creamy parmesan!</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q50.00</h4>
        </div>
      </div>
       <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Pesto La Verde</h3>
            <p>Delicious pasta with spinach, garlic, mushrooms, spring onions and broccoli in our amazingly savory pesto sauce.</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Veggie Q55</h4> 
            <h4>Chicken Q60</h4> 
            <h4>Shrimp Q74</h4>
        </div>
      </div>
        <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Juan in a Million</h3>
            <p>Outrageous pasta combined with bacon, chicken, rosemary and broccoli blended with our luscious tomato and chipotle sauce.</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q65.00</h4>
        </div>
      </div>
       <!-- images -->
      <div class="row">
        <div class="col-md-4 col-xs-12">
      <img class="img-responsive" src="/menu/pasta.png">
        </div>
    </div>
    <h1>Main Dishes</h1>
     <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Thunder Chicken Shawarma</h3>
            <p>Spiced chicken fajitas grilled with red oinion in a pita bread with spinach and tomato teamed with our creamy garlic sauce.</p>
            <h4> Add fries for Q12 extra</h4>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q47.00</h4>
        </div>
      </div>
       <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Melech Ha Falafel</h3>
            <p>Fried spinach chickpea balls with hummus, spinach, red onion and tomato in a pita bread with a side of creamy garlic sauce.</p>
            <h4>Add fries for Q12 extra</h4>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q44.00</h4>
        </div>
      </div>
        <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Explosive Laos Pad Thai</h3>
            <p>Renowned Thai plate with rice noodles stir fried with vegetables, soy sauce, sesame oil, ginger, garlic, eggs,bell pepper, spring onions and <b>peanuts.</b></p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Veggie Q55.00</h4>
            <h4>Chicken Q67.00</h4>
        </div>
      </div>
       <!-- images -->
      <div class="row">
        <div class="col-md-4 col-xs-12">
      <img class="img-responsive" src="/menu/falafel.png">
        </div>
        <div class="col-md-4 col-xs-12">
      <img class="img-responsive" src="/menu/pad-thai.png">
        </div>
    </div>
    <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>The Big Lebowsky</h3>
            <p>Finger licking Pork Ribs in BBQ sauce served with lentils, coleslaw salad, rice and our garlic and parsley pita bread with delicious fresh creamy garlic sauce on the side.</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q83.00</h4>
        </div>
      </div>
       <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Rosemary Beef Tenderloin</h3>
            <p>Delicious tender loin on the grill with rosemary, garlic, chimichurri sauce accompanied by a fresh salad and veggies on the grill, provincial style.</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q120.00</h4>
        </div>
      </div>
        <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>La Pasion del Rio</h3>
            <p>Fresh bass fish from the local river "La Pasion" accompanied by a fresh garden salad and veggies provincial style.</p>
            <h4>Breaded</h4>
            <h4>Grilled with herbs</h4>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4> Q120.00</h4>
        </div>
      </div>
       <!-- images -->
      <div class="row">
        <div class="col-md-4 col-xs-12">
      <img class="img-responsive" src="/menu/pescado-blanco.png">
        </div>
    </div>
    <h1>Desserts</h1>
    <p>Don't forget to ask for our special pastries of the day!</p>
    <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Flying Dutchman Space Brownie</h3>
            <p>Juicy homemade chocolate brownie enchantingly</p>
            <h4> Add vanilla ice cream for Q10 extra</h4>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q20.00</h4>
        </div>
      </div>
       <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Tiramisu del Dharma</h3>
            <p>Devastatingly rich mix of cream cheese, coffee and chocolate atop a gram crust.</p>
            <h4>Add vanilla ice cream for Q10 extra</h4>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q22.00</h4>
        </div>
      </div>
        <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Yum Kax Elote Pie</h3>
            <p>Outstanding corn pie using traditional guatemalan recipes</p>
            <h4>Add vanilla ice cream for Q10 extra</h4>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q20.00</h4>
        </div>
      </div>
      <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Citrus Lemon Pie</h3>
            <p>It'll melt on your tongue: Homemade outstanding lemon-cheese pie with a crusty bottom and a raving lemon-butter topping.</p>
            <h4>Add vanilla ice cream for Q10 extra</h4>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q20.00</h4>
        </div>
      </div>
      <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Kumara's Jungle Bomb</h3>
            <p>Explosive mix of vanilla ice cream with Hershey chocolate and delicious strawberry, blackberry and banana dices, covered with sparks of chocolate Oreo cookies. -Awaken your inner child!-</p>
            <h4>Add vanilla ice cream for Q10 extra</h4>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q33.00</h4>
        </div>
      </div>
       <!-- images -->
      <div class="row">
        <div class="col-md-4 col-xs-12">
      <img class="img-responsive" src="/menu/postres-6.png">
        </div>
        <div class="col-md-4 col-xs-12">
      <img class="img-responsive" src="/menu/postres-4.png">
        </div>
        <div class="col-md-4 col-xs-12">
      <img class="img-responsive" src="/menu/postres-5.png">
        </div>
        <div class="col-md-4 col-xs-12">
      <img class="img-responsive" src="/menu/postres-7.png">
        </div>
    </div>
    <div class="break">
    </div>



      </div>
</div>