<div class="rest-menu">
<!--jumbotron-->
		<div class="jumbotron" id="rest-menu">
				<div class="container">
					<h1>Menu</h1>
				</div>
			</div>
      <div class="food-menu" id="entradas">
        <div class="container">
           <h1>Appetizers</h1>
        <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Khali Pakhoras</h3>
            <p>Tantalizing vegetarian fried pakhoras made out of zucchini, spring onions, parsley, indian spices and cheddar and mozzarella cheese.</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q45.00</h4>
        </div>
      </div>
      <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Big Bang Nachos</h3>
            <p>Explosive nachos that will blow you away! Piled with refried beans, guacamole, cheese, cream, lettuce and pico de gallo</p>
            <p>A) Veggie Q42 B)Chicken Q50
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q42.00</h4>
        </div>
      </div>
      <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Mamita's BBQ Chicken Wings</h3>
            <p>A pound of flabbergasting chicken wings marinated in a tasty BBQ sauce sided with our delightful honey mustard sauce and creamy garlic sauce.</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q55.00</h4>
        </div>
      </div>
      <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>The Drooling Texan Fries</h3>
            <p>A bombastic bowl of fried potatoes topped with cheddar and mozzarella cheese, spring onions, jalapeno peppers and tomatoes.</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q45.00</h4>
        </div>
      </div>
      <h1>Salads</h1>
      <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Primavera</h3>
            <p>Refreshing salad with lettuce, spinach, red onion, tomato, avocado and corn with an exotic coriander and spring-onion based dressing accompanied by:</p>
            <p>A) Mushrooms marianted in bbq and chipotle Q55</p>
            <p>B)Chicken breast marinated in BBQ and chipotle Q60</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q55.00</h4>
        </div>
      </div>
      <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>Garden of Eat'n</h3>
            <p>Exquisite salad with spinach, lettuce, carrot, zucchini, apple, broccoli, mushroom and spring onion served with our fresh garlic tzatziki sauce</p>
            <p>Veggie Q55</p>
            <p>Chicken Q60</p>
          </div>
          <div class="col-md-4 col-xs-4" id="price">
            <h4>Q55.00</h4>
        </div>
      </div>
      </div>
</div>