<div class="jumbotron" id ="gallery">
	<h1>Gallery</h1>
</div>
<!--gallery-->
<div class="galleria">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-11" >
					<img src="/images/bici-adentro.jpg"/>
			</div>
			<div class="col-md-4 col-xs-11" >
					<img src="/images/adentro-new.jpg"/>
			</div>
			<div class="col-md-4 col-xs-11" >
					<img src="/images/frente-new.jpg"/>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-xs-11" >
					<img src="/images/drone.jpg"/>
			</div>
			<div class="col-md-4 col-xs-11" >
					<img src="/images/SAM_2217.jpg"/>
			</div>
			<div class="col-md-4 col-xs-11" >
					<img src="/images/SAM_2079.jpg"/>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-xs-11" >
					<img src="/images/happy-girls.jpg"/>
			</div>
			<div class="col-md-4 col-xs-11" >
					<img src="/images/happy-people.jpg"/>
			</div>
			<div class="col-md-4 col-xs-11" >
					<img src="/images/happy-group.jpg"/>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-xs-11" >
					<img src="/images/sucu.jpg"/>
			</div>
			<div class="col-md-4 col-xs-11" >
					<img src="/images/SAM_2206.jpg"/>
			</div>
			<div class="col-md-4 col-xs-11" >
					<img src="/images/friends.jpg"/>
			</div>
		</div>
		
	</div>
</div>