<div class="rooms">
	<div class="jumbotron" id="rooms-jumbo">
		<h1>Rooms</h1>
	</div>
	<div class="container">
		<div class="row" id="first-about-image">
			<div class="col-md-5 col-xs-12">
				<img class="img-responsive" src="/images/GOPR0018.jpg">
			</div>
			<div class="col-md-7 col-xs-12">
				<h1>Prices</h1>
				<h3>Our super comfy private rooms with lakefront view and private bathroom come in two different price option! <b>Private Balcony: Q350 </b> & <b>Shared Balcony: Q250</b> per night! Please make sure to book ahead trough direct message or email <a href="mailto:santelmoflores@gmail.com?Subject=Reservation" target="_top">santelmoflores@gmail.com</a></h3>
			</div>
		</div>
			<div class="row">
			<div class="col-md-7 col-xs-12">
				<h1>Service</h1>
				<h3>We invested a lot of energy making sure this rooms felt like home and allowed our clients to enjoy their stay to the fullest. All our private rooms come with air conditioner, private bathroom, towels, toilet paper and soap. If you need anything else please ask our friendly staff in the reception, they will be happy to help!</h3>
			</div>
			<div class="col-md-5 col-xs-12">
				<img class="img-responsive" src="/images/SAM_2147.jpg">
			</div>
		</div>
			<div class="row">
			<div class="col-md-5 col-xs-12">
				<img class="img-responsive" src="/images/SAM_2021.jpg">
			</div>
			<div class="col-md-7 col-xs-12">
				<h1>Recommendation</h1>
				<h3>Finally, please make sure to enjoy your stay, take a moment to breath in and soak all the lake vibe in, kickback and relax while you witness one of the most magical sunsets on Earth from our love-powered Hotel and Restaurant in Isla de Flores.</h3>
			</div>
		</div>

	</div>


</div>