/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body, html {
	font-family:"arvo", sans-serif;
}

h1 {
	font-family: 'Cookie';
}

body {
  left: 0;
  margin: 0;
  position: relative;
  overflow: scroll;
}

body:before {
	content: "";
	display: block;
	position: fixed;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	z-index: -10;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;

}
/*mobile only*/
.mobile-logo {
	display:none;
}

.icon-menu {
	display:none;
}

.menu {
  color:#fff;	
  background-color: #00897B;
  height: 100%;
  position: fixed;
  width: 280px;
  left:-280px;
  opacity: 0.98;
  z-index: 100;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.menu li {
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 0px;
  padding-top: 3px;
  text-align: center;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.icon-close i {
	font-size: 35px;
	color: #fff;
}

.icon-menu {
  color: #fff;
  cursor: pointer;
  margin-bottom: 25px;
  padding-left: 25px;
  padding-top: 10px;
  background: transparent;
  position: fixed;
  z-index: 1000;
}

.icon-menu i {
  margin-right: 5px;
  font-size: 35px;
  cursor: pointer;
}

/*header*/
.header {
	text-align:center;
	background:transparent;
	position: absolute;
	z-index: 100;
}

.nav {
	margin-left: 10%;
}

.nav ul {
list-style-type: none;
text-align: center;
}

.nav li {
	text-decoration:none;
	color:#fff;
	font-size:14px;
	padding:10px;
	display:inline-block;
	text-transform: uppercase;
 	-webkit-transition:color 0.25s;
  	transition:color 0.25s;
}

.nav li a {
	text-decoration: none;
	color:#fff;
	transition: color .3s;
}

.nav li a:hover{
	background:transparent;
	cursor:pointer;
	transition: color .3s;
	-webkit-transition:color .3s;
	color:#F53AB5;
}

/*email icon*/

#location {
	background-color: #673AB7;
    background-position: 100% left;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    color:#000;
    border: 2px solid #fff;
    border-radius: 50%;
    bottom: 25px;
    cursor: pointer;
    height: 66px;
    position: fixed;
    right: 95%;
    width: 68px;
    z-index: 1000;
    box-shadow: 0 3px 4px rgba(0,0,0,.4);
    padding-top:8px;
    right: 30px;
    display: none;

}

#bs-over .email-button i {
	padding-left: 0px;
	margin-left: 0px;
	color: #fff;
	font-size: 38px;
	padding-left: 13px;
}

#bs-over #location a {
	text-decoration: none;
	color:#fff;
	padding-left: 0px;
	margin-left: 0px;
}


/*jumbotron*/

#home {
	height:600px;
	background-image:url("/images/frente-nuevo.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin-bottom: 0;
	z-index: -1;
}

/*supporting*/
#supporting-home {
	height:230px;
	background-color:#F425AD;
	margin:0px;
	text-align:center;
	color:#fff;
	opacity: 0.9;
}

#supporting-home h1 {
	margin:0;
	padding:40px 0px 10px;
	font-size:5em;
	text-shadow:0 2px 3px rgba(0,0,0,.4);
	color:#fff;
	font-family: 'Cookie';

}

#supporting-home p {
	padding-bottom:10px;
	font-size:20px;
}

.btn {
	border-radius:0px;
	background-color:#fff;
	color:#000;
	border:2px solid #fff;
	border-radius: 4px;
	padding: 15px;
	font-size: 18px;
	transition: background-color .3s;
	text-transform: uppercase;

}

.btn a {
	text-decoration:none;
	color:#000;
}

.btn:hover, .btn:focus {
	background-color:#FF80AB;
	color:#fff;
	border: 2px solid #fff;
}

/*feature*/
.feature-1 {
	height:700px;
	background-image:url("/menu/menu-cover.png");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-backface-visibility: hidden;
	text-align: right;
}
.feature-1 h1 {
	padding:150px 0px 10px;
	font-size:70px;
	text-shadow:0 2px 3px rgba(0,0,0,.4);
	color:#fff;
	text-align:right;
}

.feature-1 p {
	color: #fff;
	font-size: 1.2em;
	text-shadow: 0px 2px 3px #000;
}

.feature-2 {
	height:700px;
	background-image:url("/images/rooftop.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-backface-visibility: hidden;
}

.feature-2 h1 {
	padding:150px 0px 10px;
	font-size:70px;
	text-shadow:0 2px 3px rgba(0,0,0,.4);
	color:#fff;
	text-align:left;
}

.feature-2 p {
	text-shadow:0 2px 3px rgba(0,0,0,.4);
	color:#fff;
	text-align:left;
	font-size: 1.2em;
}

#bs-over .feature-2 .container #hotel-btn {
	text-align:left;
}

.feature-3 {
	height:700px;
	background-image:url("/images/sunset-new.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-backface-visibility: hidden;
	text-align: right;
}

.feature-3 h1 {
	padding:150px 0px 10px;
	font-size:70px;
	text-shadow:0 2px 3px rgba(0,0,0,.4);
	color:#fff;
	text-align:right;
}

.feature-3 p {
	color: #fff;
	font-size: 1.2em;
	text-shadow: 0px 2px 3px #000;
}

.feature-4 {
	height:700px;
	background-image:url("/images/SAM_2021.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-backface-visibility: hidden;
}

.feature-4 h1 {
	padding:150px 0px 10px;
	font-size:70px;
	text-shadow:0 2px 3px rgba(0,0,0,.4);
	color:#fff;
	text-align:left;
}

.feature-4 p {
	text-shadow:0 2px 3px rgba(0,0,0,.4);
	color:#fff;
	text-align:left;
	font-size: 1.2em;
}

#bs-over .feature-4 .container #hotel-btn {
	text-align:left;
}

/*prefooter*/

.pre-footer {
	height:95px;
	background-color:#00867D;
	text-align:center;
	color:#fff;
}

.pre-footer ul {
	list-style-type: none;
	margin-top:20px;
	padding-left: 0px;
	margin-left: 0px;
}

.pre-footer li {
	display:inline-block;
	padding:5px;
}

.pre-footer i {
	border: 1px solid #fff;
	padding: 10px 12px 10px 12px;
	border-radius: 50%;
	font-size: 25px;
	transition: background-color .3s;
}

#bs-over .pre-footer i:hover {
	background-color: #fff;
	color:#28211F;
}

.pre-footer a {
	text-decoration:none;
	color:#fff;
	-webkit-transition:color 0.25s;
  	transition:color 0.25s;
}

.pre-footer #fb {
	font-size: 23px;
	padding: 10px 15px 10px 15px;
}

.pre-footer #trip-advisor {
	font-size: 23px;
	padding: 12px 10px 12px 10px;

}

/*footer*/
.footer {
	background-color:#40A4A6;
	color:#fff;
	padding:40px 0px 40px 0px;
}

.footer h3 {
	font-family: 'Cookie';
	font-size: 2.5em;
}

.footer .material-icons {
	font-size: 48px;
	border: 2px solid #fff;
	border-radius: 50%; 
}

#up {
	text-align: center;
}

.footer .col-md-4 {
	text-align: center;
}

.footer ul {
	list-style-type: none;
	padding-left:0;
	padding-bottom: 20px;
}

.footer li {
	color:#fff;
	display:inline;
	padding:10px;
}

.footer li a {
	text-decoration: none;
	color:#fff;
}

.footer li i:hover {
	color:#FF4081;
	border-color: #FF4081;
}

.footer h6 {
	text-align:center;
	color: #fff;
	padding:35px;
	font-size:14px;
	text-decoration: none;
}

.footer h6 span {
	border-bottom:1px solid #fff;
	color: #fff;
}

.footer h6 a {
	text-decoration: none;
	color: #fff;
}

.break {
	height: 75px;
}

@media only screen and (max-width:768px) {

.header li {
	display:none;
}

.header a {
	text-align: center;
	position: center;
}

.icon-menu {
	display:inline;
	line-height:3px;
}

#bs-over .mobile-logo {
	display:inline;
	position: center;
	padding:1px;
	margin-top: 20%;
	margin-left: 100px;
}

#location {
	display: none;
}

#supporting-home {
	height: 200px;
}

#bs-over .supporting h1 {
	font-size: 3em;
}

.jumbotron, .feature-1, .feature-2, .feature-3, .feature-4, #home, #our-friends, #our-antiques, #our-menu, #our-inspiration  {
	background-attachment: scroll;
}

.btn {
	font-size: 1.1em;
	padding: 10px;
}

.jumbotron h1 {
	font-size: 4.5em;
}

#gallery h1 {
	font-size: 4.5em;
}

#contact h1 {
	font-size: 4.5em;
}

.galleria .col-md-4  {
	margin-left: 15px;
}

.galleria img {
	width: 100%;
	height: 75%;
}

.about h3 {
	font-size: 1.5em;
}

.rooms h3 {
	font-size: 1.5em;
}

.footer {
	height:420px;
}

.footer h3 {
	font-size:1.5em;
}
.footer p, .footer a {
	font-size:12px;
}

.footer li {
	display:inline-block;
	padding:5px;
	}
}
